<header>
  <div class="left-links">
    <div class="dropdown">
      <a class="dropdown-toggle links" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
        aria-expanded="false">
        <img src="/assets/list.svg" width="40" height="100" />
      </a>

      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div>
  </div>
  <div class="title">EARTLE</div>
  <div class="right-links">
    <a class="settings-icon" href="#"><img src="/assets/gear.svg" /></a>
    <a class="how-to" href="#"><img src="/assets/question-circle-fill.svg" /></a>
  </div>
</header>
