<p>choose-notes works!</p>
<app-notes-chosen></app-notes-chosen>
<div class="container">
    <div class="row align-items-start">
        <div class="col" *ngFor="let note of notes">
            <button type="button" (click)="add(note)">{{note.noteName}}</button>
        </div>
        <button type="button" (click)="removeNote()">Remove Note</button>

    </div>
</div>
<div class="container">
    <div class="row align-items-start">
        <div class="col" *ngFor="let note of chosenNotes">
            <div>{{note.noteName}} </div>
        </div>
    </div>
</div>
<div>
    <button type="button" (click)="submitNotes()">Submit Notes</button>
</div>
<div>
    <button type="button" (click)="playMelody()">Play Melody</button>
</div>
