.notes-output {

    /* //margin: 10% 50% 10% 50%; */

    /* Setup */
    position: relative;
}

#guesses {
/* Center vertically and horizontally */
position: relative;
top: 50%;
left: 50%;
margin: -25px 0 0 -25px;
}
